/* mod-block */

.cod {
    text-align: center;
}

.cod li {
    display: inline-block;
    flex-grow: 1;
    color: #abb1ba;
}

.cod .my-link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 17px 30px 14px 30px;
    text-transform: uppercase;
}

.my-link {
    background-color: #ececec;
    border-left: 3px solid #ececec;
    border-right: 3px solid #ececec;
    border-top: 3px solid #ececec;
    font-weight: 700;
}

.my-link.active {
    background-color: #fff;
}

.tab-content {
    border-left: 3px solid #ececec;
    border-right: 3px solid #ececec;
    border-bottom: 3px solid #ececec;
}

/* mod block */

/* mod accordion */

.mod {
    text-align: center;
    background-color: #ececec;
}

.mod li {
    display: inline-block;
    color: red;
}

.mod .tab-link {
    text-decoration: none;
    display: block;
    padding: 20px 28px 16px 28px;
    text-transform: uppercase;
    color: #9097a1;
    font-weight: 700;
}

.tab-link.active {
    background-color: #fff;
}

.tab-link {
    background-color: #ececec;
    border-left: 3px solid #ececec;
    border-right: 3px solid #ececec;
    border-top: 3px solid #ececec;
    font-weight: 700;
}

/* .test .tab-link {
    text-decoration: none;
    color: inherit;
} */

.test .tab-content {
    padding: 15px;
}

.accordion {
    margin: 0;
    padding: 0;
}

.accordion-item {
    list-style: none;
    padding: 8px;
}

.accordion-link .fa {
    display: none;
    margin-left: auto;
    font-size: 18px;
    color: #2cc7c1;
}

.accordion-link:not(.collapsed) .fa-minus-circle {
    display: inline-block;
}

.accordion-link.collapsed .fa-plus-circle {
    display: inline-block;
}

.accordion-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #747a84;
    font-weight: 600;
}

.accordion-link {
    color: inherit;
}

.accordion-link span {
    padding: 5px;
    background-color: #2cc7c1;
    border-radius: 5px;
    color: #fff;
    margin-right: 20px;
}

.accordion-link:hover {
    text-decoration: none;
    color: inherit;
}

.collapse p {
    color: #999999;
}

/* mod accordion */